 <h2 class="title">OpenROV</h2>
<hr>

<p>OpenROV is a open-source underwater robot. But it&#8217;s so much more. It&#8217;s also a community of people who are working together to create more accessible, affordable, and awesome tools for underwater exploration.</p>

<p>The backbone of the project is the global community of DIY ocean explorers who are working, tinkering and improving the OpenROV design.</p>
<hr>
<center><a class="btn" href="http://openrov.com" target="_blank">Read More &raquo;</a></center>  
