sup, sub {
	padding: 0 0.2em;
	display: inline;
	font-size: 80%
}

.footnotes {
	font-size: 80%;
}

// Put the CSS for the popup here.
#footnotediv{
	position: absolute;
    border: 1px solid #777;
    width: 300px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 2px 4px rgba(17,17,18,0.79);
    -webkit-box-shadow: 0 2px 4px rgba(17,17,18,0.79);
    box-shadow: 0 2px 4px rgba(17,17,18,0.79);
    padding: 10px;
    background-color: white;
}